<div
  [ngClass]="{ reminder: task.reminder }"
  class="task"
  (dblclick)="on_toggle(task)"
>
  <h3>
    {{ task?.text }}
    <fa-icon
      (click)="on_delete(task)"
      [ngStyle]="{'color': 'red'}"
      [icon]="faTimes"
    ></fa-icon>
  </h3>
  <p>{{ task?.day }}</p>
</div>
