<header>
  <h1>{{ title }}</h1>
  <app-button
    *ngIf="has_route('/')"
    color="{{ show_add_task ? 'red' : 'green' }}"
    text="{{ show_add_task ? 'Close' : 'Add' }}"
    (btn_click)="toggle_add_task()"></app-button>
</header>

